<!--

<<<<<<<<<< ANGULAR >>>>>>>>>>>>>>>>>
https://programmablesearchengine.google.com/about/**
Frame Work, de Js, que permite crear paginas SPA´s Single Page Aplication
NUESTRA PLANTILLA DEL  COMPONENTE GENERAL
-->
<div class="container" style="width:380px ;">
  <div class="collapse " id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">{{nombre}} os da la bienvenida a mi pagina de Angular</h5>

      <span class="text-muted"> </span>
      <ul class="navbar-nav me">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">RouterLink</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Destacamos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">ngModule</a></li>
            <li><a class="dropdown-item" href="#">Caracteristicas</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Los Componentes</a></li>
          </ul>
      </ul>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>🎯
      </button>
    </div>
  </nav>
  <div class="gcse-search" style="width: 30%;"></div>
  <app-logo></app-logo>
  <app-texto></app-texto>

</div>


<!-- <app-header></app-header>
  <app-nav></app-nav>
  <app-section></app-section>
  <app-footer></app-footer> -->