<div class="jumbotron">
    <h1 class="display-4">RouterLink</h1>
    <p class="lead">Para  implementar navegacion SPA´s (Single Page Application)
        la  forma mas optima de realizar dichas navegaciones será a través del RouterLink.
    Así mismo nos lo provee Angular, reduciendo asi tiempos de recarga y aprovechamiento  al maximo
de la capacidades del FrameWork</p>
    <hr class="my-4">
    <p>En la etiqueta 'a' en Angular: routerLink="/" routerLinkActive="active" </p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Aprende ➕</a>
  </div>
