<div class="jumbotron">
    <h1 class="display-4">Asunto<img src="../../assets/icoAngular.png"/> </h1>
    <p class="lead">SINGLE PAGE APPLICATION</p>
    <hr class="my-4"><img src="../../assets/web_earth_planet_19311.png" alt=""/>
    <p>Herramientas de uso importantes:</p>
    <ul>
        <li>Entorno Cliente-Navegadores</li>
        <li>Editor de codigo-Visual Studio Code</li>
        <li>Node.Js especificamente de NPM</li>
        <li>Angular Cli, versiones a Revisasr</li>
        <li>Consola ms-dos</li>
    </ul>
    <a class="btn btn-danger btn-lg" href="https://angular.io/" target="_blank" role="button">Aprende ➕</a>
  </div>
