<div class="container">


    <div id="carouselExampleDark" class="carousel slide carousel-dark" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../assets/images/1_YxdVfV6NXT5QAXCAGIKLCQ.png" class="d-block w-100" alt="...">
            </div>
        </div>
        <button routerLink="/c2" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span style="color: black;">CARACTERISTICAS</span>
        </button>
        <button routerLink='/c1' class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
            data-bs-slide="next">
            <span style="color: black;">Router Link</span> <span class="carousel-control-next-icon"></span>

        </button>
    </div>
</div>